ul.nav li{ 
    display: inline-block;
    padding-right: 10px;
}

.nav {
	background-color: red;
}

a {
	color: white;
}

.color-info {
	border-style: solid;
	border-width: 3px;
}

div#about_blue {
	background-color: #6495ED;
}

div#about_yellow {
	background-color:#FFEBCD;
}

p {
	color:blue;
}



